# Files to ignore
*.pt
*.weights
*.MP4
*.mp4
*.avi
*.idea
*:Zone.Identifier
**/__pycache__/
.vscode
.idea
buffer.dat

# React app
/webapp/frontend/node_modules
/webapp/frontend/build

# /webapp/frontend/.env.local
# /webapp/frontend/.env.development.local
# /webapp/frontend/.env.test.local
# /webapp/frontend/.env.production.local

/webapp/frontend/npm-debug.log*
/webapp/frontend/yarn-debug.log*
/webapp/frontend/yarn-error.log*
/webapp/frontend/pnpm-debug.log*

